$color-silver: #ebe7e7 !default; // cccbcb
$color-lightgray: #c5c1c1 !default; //d4d4d4
$color-midgray: #8d8d8d !default;
$color-darkgray: #3e3c3c !default;
$color-black: #0d0d0e !default;
$color-highlight: #edf2ff !default; // color-focus 15% opacity
$color-gold: #cd9d2b !default;
$color-lightgold: #ecddba !default;
$color-tile: #faf6f6 !default;
$color-darkred: #9e0b0f !default;
$color-mud: #c3bbad !default;
$color-body: #f9f9f9 !default;
$color-eggwhite: #fefbf6 !default;

// States
$color-error: #f03c69 !default;
$color-success: #35beb1 !default;
$color-warning: #9e0b0f !default;
$color-focus: #cd9d2b !default;

$color-text: $color-darkgray !default;
$color-link: $color-text;
$color-link-hover: #cd9d2b;
$color-headings: $color-text;

// Font
$font-family: 'Raleway', Helvetica, Arial, sans-serif;
$headings-font-family: $font-family;

// Font Size
$font-size: 16px !default;
$font-size-smaller: $font-size - 4px !default;
$font-size-small: $font-size - 2px !default;
$font-size-big: $font-size + 2px !default;
$font-size-large: $font-size + 4px !default;
$input-font-size: 14px !default;
$input-font-size-smaller: $input-font-size - 4px !default;
$input-font-size-small: $input-font-size - 2px !default;
$input-font-size-big: $input-font-size + 2px !default;
$input-font-size-large: $input-font-size + 4px !default;
// Margin
$text-margin-bottom: $font-size !default;

// Toolbox
$tool-panel-height: 582px !default;

// Headings
// Font Size
// By default: 60, 48, 36, 24, 21, 18, 16
$heading-font-size-title: 60px !default;
$heading-font-size-1: 48px !default;
$heading-font-size-2: 36px !default;
$heading-font-size-3: 24px !default;
$heading-font-size-4: 21px !default;
$heading-font-size-5: 18px !default;
$heading-font-size-6: 16px !default;

// Baseline
$heading-base-line-title: 1.15 !default;
$heading-base-line-1: 1.15 !default;
$heading-base-line-2: 1.15 !default;
$heading-base-line-3: 1.15 !default;
$heading-base-line-4: 1.15 !default;
$heading-base-line-5: 1.15 !default;
$heading-base-line-6: 1.15 !default;

// Margin
$heading-margin-bottom: $font-size !default;

// Baseline
$base-line: 22px !default;
$base-line-smaller: 18px !default;
$base-line-small: 16px !default;
$base-line-big: 24px !default;
$base-line-large: 28px !default;
$textarea-base-line: 16px !default;

// Height
$input-height: 40px !default;
$input-height-small: 36px !default;
$input-height-big: 48px !default;
$input-height-large: 56px !default;

// Padding
$input-padding-rl: 12px !default;
$input-padding-small-rl: 12px !default;
$input-padding-big-rl: 12px !default;
$input-padding-large-rl: 12px !default;
$input-textarea-padding-tb: 8px !default;

// Body Padding
$body-padding-small: 25px !default;
$body-padding-large: 100px !default;
$boddy-padding-med: 25px !default;


// States
$input-border-width: 1px !default;
$input-border-color: #fff !default;
$input-background-color: #f9f8f8 !default;
$input-box-shadow: none !default;

$input-focus-background-color: #f9f8f8 !default;
$input-focus-border-color: $color-focus !default;
$input-focus-box-shadow: 0 0 2px $color-focus inset !default;

$input-error-background-color: $color-error !default;
$input-error-border-color: $color-error !default;
$input-error-focus-box-shadow: 0 0 1px $color-error inset !default;

$input-success-background-color: $color-success !default;
$input-success-border-color: $color-success !default;
$input-success-focus-box-shadow: 0 0 1px $color-success inset !default;

$input-disabled-opacity: .6;
$input-disabled-color: rgba(0, 0, 0, .5);

// Radius
$input-border-radius: 10px !default;

// header
$header-height: 100px !default;
$header-search-height-mobile: 58px !default; //34 + 12 + 12
$header-height-mobile: $header-height + $header-search-height-mobile !default;
$header-home-logo-margin-bottom: 72px !default;
$header-home-logo-margin-top: 100px !default;
$header-home-logo-mobile-height: 128px !default;
$header-home-logo-height: 78px !default;
$header-height-home-mobile: $header-height + $header-search-height-mobile + $header-home-logo-mobile-height + $header-home-logo-margin-bottom !default;
$header-height-home: $header-home-logo-margin-top + $header-height +  $header-home-logo-height + $header-home-logo-margin-bottom !default;

//footer

$footer-height: 640px !default;

// Breakpoints
$bp-small : 25.88rem;
$bp-small-2: 29.75rem;
$bp-small-3: 39.8rem;
$bp-med: 48rem;
$bp-med-2: 49rem;
$bp-large: 50rem;
$bp-large-2: 54.5rem;
$bp-large-3: 65rem;
$bp-xl: 73rem;
$bp-xl-2: 77rem;

// layout

$app-max-width: 1680px;
$app-min-width: 320px;
