@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,800');
@import './font-awesome.scss';
@import './node_modules/flexboxgrid-sass/flexboxgrid.scss';
@import './style-variables';
@import './forms';
@import './typography';

* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0px;
  	margin: 0px;
  	font-family: 'Raleway', Helvetica, Arial, sans-serif;
  	font-size: $font-size;
  	color: $color-darkgray;
  	background-color: #f9f9f9;
  	line-height: $base-line;
  	overflow-x: hidden;
  	overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;
  	-webkit-transform: translateZ(0px);
  	left: 0px;
}

img {
	width: 100%;
	display: block;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

div {
	box-sizing: border-box;
}

.is-silver {
	color: $color-silver;
}

.is-darkgray {
	color: $color-darkgray;
}

.is-midgray {
	color: $color-midgray;
}

.is-lightgray {
	color: $color-lightgray;
}

.is-golden {
	color: $color-gold;
}

.is-white {
	color: white;
}

.is-darkred {
	color: $color-darkred;
}

.avatar-border {
	border-radius: 50%;
	border: solid 3px $color-gold;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	z-index: 2;
}

.avatar-border-thicker {
	border-radius: 50%;
	border: solid 5px $color-gold;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	z-index: 2;
}

.avatar {
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	z-index: 2;
}

.avatar img, .avatar-border img {
	margin: 0 auto;
	border-radius: 50%;
	width: 100%;
	z-index: 1;
}

.avatar-larger {
	height: 119px;
	width: 119px;
}

.avatar-large {
	height: 98px;
	width: 98px;
}

.avatar-medium {
	height: 41px;
	width: 41px;
}

.avatar-small {
	height: 35px;
	width: 35px;
}


.avatar-smaller {
	height: 25px;
	width: 25px;
}

.note-avatar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-fa {
	cursor: pointer;
}

.button-fa:hover {
	color: $color-gold;
}

.text-button {
	font-weight: 500;
	font-size: 12px;
	cursor: pointer;
}

.text-button:hover {
	color: $color-gold;
}


button,
.button {
	color: white;
	background-color: $color-gold;
	border-radius: 10px;
	min-height: 30px;
	min-width: 70px;
	padding: 3px 10px;
	font-size: $font-size-small;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	line-height: 24px;
	border: 1px solid transparent;
	vertical-align: middle;
	-webkit-appearance: none;
	& i {
        position: relative;
        top: 1px;
        margin: 0 2px;
	}
}

button:focus, 
	.button:focus {
        outline: -webkit-focus-ring-color none 0px;
    
	}

button[disabled="disabled"] {
	opacity: 0.5;
	cursor: auto;
}

button:hover, .button:hover {
	background-color: $color-darkred;
}

// making css class input gold border
// .item-input {
// 	border: 2px solid $color-gold;
// 	width: 57%;
// 	height: 21px;
// }


.selection {
	margin-bottom: 5px;
}

.selection-text-horizontal {
	margin-right: 15px;
	margin-bottom: 15px;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	min-width: 120px;
	text-align: center;
	cursor: pointer;
	transition: font-size 0.1s ease-out;
}

.selection-text-vertical {
	margin-bottom: 8px;
	margin-right: 8px;
	height: 28px;
	line-height: 28px;
	display: block;
	cursor: pointer;
  	width: -webkit-fit-content;
  	width: -moz-fit-content;
  	width: fit-content;
  	white-space: nowrap;
  	transition: font-size 0.1s ease-out;
}

.selection-icon-horizontal {
	font-size: 32px;
	margin-right: 15px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	min-width: 36px;
	text-align: center;
	cursor: pointer;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	transition: font-size 0.1s ease-out;
}

.selection-text-vertical:hover {
	color: $color-gold;
	font-weight: bold;
	font-size: 18px;
}

.selection-text-horizontal:hover {
	color: $color-gold;
	font-size: 18px;
	height: 22px;
	line-height: 22px;
}

.selection-text-active {
	color: $color-gold;
	font-size: 18px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
}

.selection-icon-horizontal:hover {
	color: $color-gold;
	font-size: 36px;
}

.switch {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	min-width: 70px;
	min-height: 28px;
	text-align: center;
	vertical-align: middle;
	margin-left: 10px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid $color-midgray;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

// #ceae62$color-darkgray
.slider:before {
	position: absolute;
	color: white;
	font-family: FontAwesome;
	content: $fa-var-times;
	box-sizing: border-box;
	height: 26px;
	width: 34px;
	left: 34px;
	bottom: 0px;
	display: block;
	background-color: $color-midgray;
	-webkit-transition: .4s;
	transition: .4s;
	padding-top: 5px;
}

ul {
	-webkit-padding-start: 0px;
}

ul.non-list {
	list-style-type: none;
	-webkit-padding-start: 0px;
	margin-left: 0px;
}



input:checked + .slider {
	background-color: white;
	border: 1px solid $color-gold;
}

input:focus + .slider {
	box-shadow: 0 0 1px $color-gold;
}

input:checked + .slider:before {
	font-family: FontAwesome;
	content: $fa-var-check;
	background-color: $color-gold;
	-webkit-transform: translateX(-34px);
	-ms-transform: translateX(-34px);
	transform: translateX(-34px);
	padding-top: 5px;
}


// form fields with addons

.input-addon {
	display: flex;
	flex: 1;
	margin: 0px 0px 20px 0px;
}

.input-addon-field {
	flex: 1;
}

.input-addon-field:not(:first-child) {
  border-left: 0;
}
.input-addon-field:not(:last-child) {
  border-right: 0;
}

.input-addon-item {
  background-color: white;
  color: $color-darkgray;
  font: inherit;
  font-weight: normal;
  height: $input-height;
}

.input-addon-field,
.input-addon-item {
  border: 1px solid rgba(147, 128, 108, 0.25);
  padding: 0.5em 0.75em;

}
.input-addon-field:first-child,
.input-addon-item:first-child {
  border-radius: 0 0 0 0;
}
.input-addon-field:last-child,
.input-addon-item:last-child {
  border-radius: 0 0 0 0;
}

.inline-inputs {
	display: flex;
	width: 100%;
}


.clr {
	clear: both;
}

.xs-break {
	display: none;
}

//font awesome icon containers style

.icon-container {
	border-radius: 50%;
	width: 31px;
	height: 31px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0px 6px 0px;
	cursor: pointer;
}

.icon-container-no-point {
	border-radius: 50%;
	width: 31px;
	height: 31px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0px 6px 0px;
}

//tool box and panels

.icon-container:hover, .icon-container:hover .icon, .icon:hover,
.toolbox-tile:hover, .toolbox-tile:hover .tool-icon, .tool-icon:hover  {
	background-color: $color-gold;
	color: white;
}

#tool-panel-flow {
  padding-left: 100px;
  overflow-y: auto;
}

.tool-panel-left-padding {
  padding-left: 100px;
}


.creator-panel {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.sm-hide {
	display: none;
}

// landing page & membership

.landing-action > .signup-form .signup-input, .landing-action > .signup-form .signup-input label {
	margin-bottom: 30px;
	color: #fff;
}

.landing-action > .signup-form .inline-checkbox, .landing-action > .signup-form .signup-button {
	display: none;
}


.details-header {
	color: #fff;
	font-size: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 244px;
	padding-left: 30%;
}

.details-header .fa-ellipsis-v {
	font-size: 60px;
}

.details-header .fa {
	margin: 0px 21px;
}

.details-tile {
	background: #fff;
	padding: 102px 43px 92px 43px;
	font-size: 18px;
	line-height: 24px;
}

.details-tile .tile-title {
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 56px;
}

.details-tile .details-text {
	margin-bottom: 97px;
}

.details-text ul {
	list-style: none;
	display: table;
	margin-left: -18px;
	border-spacing: 18px 18px;
}

.details-text ul li {
	margin-bottom: 15px;
	display: table-row;
}

.learn-action {
	border-bottom: 2px solid $color-gold;
	padding-bottom: 20px;
	width: max-content;
}

.details-text ul li::before {
	font-family: FontAwesome;
	content: $fa-var-circle-thin;
	display: table-cell;
	margin-right: 18px;
}


.feature-left .details-tile .details-text ul li::before {
	color: $color-mud;
}

.feature-right .details-tile .details-text ul li::before {
	color: $color-gold;
}

//profile sections
.profile-section h2 {
	margin-top: 0px;
}

.tool-panel-paddings {
	padding-top: 40px;
	padding-bottom: 40px;
}

.tool-panel-paddings h2 {
	margin-top: 0px;
}

.loading-spinner {
	margin-top: 25px;
	color: $color-gold;
	visibility: visible;
	font-size:90px;
}

.fade-quick-enter-active, .fade-quick-leave-active {
	transition: opacity 0.05s linear;
}

.fade-quick-enter, .fade-quick-leave-to {
	opacity: 0;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity 0.2s ease;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}


.fade-long-enter-active, .fade-long-leave-active {
	transition: opacity 0.7s ease;
}

.fade-long-enter, .fade-long-leave-to {
	opacity: 0;
}

.post-text {
	white-space: pre-wrap;
}

//candidate tile

.candidates-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.candidate-details {
  flex-grow: 2;
  margin-left: 15px;
}

.auditionee-details {
  	text-align: center;
}

.candidate-tile {
	background-color: #f7f4f4;
	min-height: 70px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 7px;
	margin-right: 8px;
	flex-basis: 48%;
	flex-grow: 1;
	padding: 10px 15px 10px 10px;
}

.candidate-tile:hover {
  background-color: #cd9d2b;
  color: white;
}

.candidate-tile:hover a, .candidate-tile a:hover {
	color: white;
}

.close-button {
	cursor: pointer;
	position: absolute;
	top: 50px;
	right: 50px;
}

@media screen and (min-width: 813px) and (max-width: 1024px) {
	.slide {
		overflow-x: auto;
		flex-wrap: nowrap !important;
		-webkit-overflow-scrolling: touch;
	  	-ms-overflow-style: -ms-autohiding-scrollbar;
	}
}

// mobile
@media screen and (max-width: 812px) {
	ul {
		-webkit-padding-start: 0px;
		-webkit-margin-before: 0px;
	}

	.slide {
		overflow-x: auto;
		flex-wrap: nowrap !important;
		-webkit-overflow-scrolling: touch;
	  	-ms-overflow-style: -ms-autohiding-scrollbar;
	}

	.xs-break {
		display: inline;
	}

	.selection-xs {
		display: flex !important;
		width: 100%;
	}

	.xs-visible {
		display: inline;
	}

	.xs-hide {
		display: none;
	}

	.note-avatar img {
		width: 69px;
	}
  
}